.div-text {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.circle-text {
  color: #ef4815;
  font-size: 25px;
  font-weight: 600;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
  border-radius: 100px;
}
.card-width {
  margin-top: 20px !important;
  width: 500px !important;
  margin-left: 25% !important;
}

.sports-schedule,
.sports-schedule *,
.sports-schedule ::after,
.sports-schedule ::before {
  box-sizing: border-box;
}
.schedulebody ul li {
  margin: 0px 0px 20px;
  position: relative;
  list-style: none;
}
.matchdate {
  width: 60px;
  height: 60px;
  border: 2px solid rgb(153, 153, 153);
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0px, -50%);
  color: rgb(153, 153, 153);
  font-size: 15px;
  font-style: italic;
  border-radius: 50%;
  text-align: center;
  background: rgb(255, 255, 255);
  line-height: 14px;
}
.matchdate span {
  font-size: 12px;
  display: block;
  margin-top: 8px;
}
.matchdate span:nth-of-type(2) {
  font-size: 15px;
  margin: 0px;
}
.matchdetails {
  border: 1px solid rgb(234, 234, 234);
  width: calc(100% - 140px);
  display: block;
  margin-left: 130px;
  background: rgb(255, 255, 255);
  border-radius: 2px;
}
.bgImg .matchdetails {
  width: calc(100% - 120px);
  margin-left: 110px;
}
.match-teams {
  background: rgb(249, 249, 249);
  line-height: 28px;
  font-size: 13px;
  color: rgb(153, 153, 153);
  text-align: center;
  font-weight: 600;
  border-top: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid rgb(234, 234, 234);
  height: 28px;
}
.match-venue {
  float: right;
  line-height: 30px;
  color: rgb(187, 187, 187);
  font-size: 11px;
  padding: 0px 10px 0px 0px;
}
.match-meta {
  color: rgb(153, 153, 153);
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 0px 0px 10px;
}
.column25 {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
}
.matchdetails .team-name {
  background-color: rgb(153, 153, 153);
  /* background-image: url("/photo/81648097.cms"); */
  background-repeat: no-repeat;
  background-position: -8000px center;
  border: 1px solid rgb(241, 241, 241);
  width: 69px;
  height: 46px;
  border-radius: 1px;
  line-height: 41px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-size: 120px;
}
.matchdetails .team-name {
  width: 54px;
  height: 36px;
  background-size: 96px;
}
.matchdetails .team-name.CSK {
  background-position: -22px -1216px;
}
.matchdetails .team-name::after {
  top: 0px;
}
.matchdetails .team-name::before,
.matchdetails .team-name::after {
  left: 63px;
}
.matchdetails .teams:not(.alR) .match-score {
  margin-left: 10px;
}
.matchdetails .match-score::before,
.matchdetails .match-score::after {
  background: rgb(247, 247, 247);
  content: '';
  position: absolute;
  left: 0px;
}
.match-ended .match-score::before,
.match-ended .match-score::after,
.live .match-score::before,
.live .match-score::after {
  display: none;
}
.match-score {
  display: inline-block;
  vertical-align: middle;
  color: rgb(102, 102, 102);
  position: relative;
}
.match-score .tname {
  font-size: 12px;
  display: block;
  font-weight: 600;
  line-height: 12px;
}
.score {
  width: 60px;
  font-size: 11px;
  color: rgb(88, 89, 90);
}
.match-score .score {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  width: inherit;
  display: block;
  color: rgb(102, 102, 102);
}
.match-score .score {
  font-size: 14px;
}
.match-score .over {
  font-size: 13px;
  line-height: 1;
  margin-top: 1px;
  display: block;
}
.match-score .over {
  font-size: 12px;
}
.alR .match-score,
.alR {
  text-align: right;
}
.matchdetails .teams.alR .match-score {
  margin-right: 10px;
}
.matchdetails .teams.alR .match-score::before,
.matchdetails .teams.alR .match-score::after {
  left: auto;
  right: 0px;
}
.matchdetails .team-name.KKR {
  background-position: -22px -1277px;
}
.matchdetails .teams.alR .team-name::after,
.matchdetails .teams.alR .team-name::before {
  right: 63px;
}
.match-update {
  font-size: 12px;
  line-height: 15px;
  color: rgb(153, 153, 153);
  font-weight: 600;
}
a {
  transition: all 0.5s ease 0s;
  text-decoration: none;
  color: inherit;
}
a:hover,
a:link:hover,
a:visited:hover {
  text-decoration: none;
}
.btn-green {
  background: rgb(0, 181, 111);
  border-radius: 2px;
  line-height: 26px;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  text-transform: uppercase;
  border: 0px;
  display: block;
  text-align: center;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.btn-green:hover {
  background: rgb(0, 0, 0);
  text-decoration: none !important;
}
.match-ended .btn-green {
  background: rgb(0, 181, 111);
  border: 1px solid rgb(0, 181, 111);
  color: rgb(255, 255, 255);
}
