.view-panel {
  max-height: 80vh;
  overflow-y: auto;
}

.view-panel ul {
  margin: 0;
  padding: 0;
}

.view-panel ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 4rem;
  color: black;
}

.key {
  font-weight: bold;
  margin-right: 1rem;
}

.value {
  width: 15rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  line-break: anywhere;
}

.image-panel {
  text-align: center;
}

.image-panel img {
  width: 50%;
}